@using WorkersApp.Controllers.Response

@model IEnumerable<TrabajadorResponse>

@{
    Layout = "_Layout";
}

<div class="d-flex justify-content-center gap-2">
    <h2>Lista de Trabajadores</h2>
</div>
<a href="/Trabajador/CreateWorker" class="btn btn-primary mb-3">Nuevo Trabajador</a>

<form method="get" class="mb-3" style="max-width: 300px;">
    <div class="input-group">
        <select name="sexo" class="form-select">
            <option value="">-- Todos --</option>
            <option value="M" @(Context.Request.Query["sexo"] == "M" ? "selected" : "")>Masculino</option>
            <option value="F" @(Context.Request.Query["sexo"] == "F" ? "selected" : "")>Femenino</option>

        </select>
        <button type="submit" class="btn btn-outline-primary">Filtrar</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>TipoDocumento</th>
            <th>Nro. Documento</th>
            <th>Nombres</th>
            <th>Sexo</th>
            <th>Departamento</th>
            <th>Provincia</th>
            <th>Distrito</th>
            <th class="text-center">Accion</th>
        </tr>
    </thead>
    <tbody>

        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="8" class="text-center">No hay trabajadores registrados.</td>
            </tr>
        }

        @foreach (var item in Model)
        {
            var rowClass = item.Sexo == 'M' ? "bg-primary-subtle" : item.Sexo == 'F' ? "bg-warning-subtle" : "";
            
            <tr>
                <td class="@rowClass">@item.TipoDocumento</td>
                <td class="@rowClass">@item.NumeroDocumento</td>
                <td class="@rowClass">@item.Nombres</td>
                <td class="@rowClass">@item.Sexo</td>
                <td class="@rowClass">@item.Departamento</td>
                <td class="@rowClass">@item.Provincia</td>
                <td class="@rowClass">@item.Distrito</td>
                <td class="@rowClass">
                    <div class="d-flex justify-content-center gap-2">
                        <a href="/Trabajador/Edit/@item.Id" class="btn btn-warning">Editar</a>
                        <a href="/Trabajador/Delete/@item.Id" class="btn btn-danger">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>